<ion-header>
    <ion-toolbar>

        <!-- Menu principal -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2>Programadores</h2>
    <p>Em ciências da computação; programador, desenvolvedor, codificador ou engenheiro de software é alguém que escreve, desenvolve ou faz manutenção de software em um grande sistema ou alguém que desenvolve software para uso em computadores pessoais. Hoje em dia é muito comum a função programador/analista.</p>


</ion-content>